<div class="row" *ngIf="resdetails" style="margin:20px 0px;">
    <img src="assets/images/{{resdetails.id}}.jpeg" style="height:112px;width: 112px" alt="{{resdetails.name}}">

    <div class="col-m" style="margin: 0 10px;">
        <h5>{{resdetails.name}}</h5>
        <div>{{resdetails.location}}</div>
    </div>
</div>

<div class="row res-full-menu" *ngIf="mainMenu" >
    <div class="col-m">
        <ul class="nav flex-column nav-pills border-right menu">
            <li class="nav-item" *ngFor="let m of mainMenu;" [ngClass]="{ active: selectedItem==m }"
                (click)="menuitemclick(m)">
                <a class="nav-link">{{m}}</a>
            </li>
        </ul>
    </div>

    <div class="col-m ">
        <div class="item-container" *ngFor="let item of fullMenu;">
            <div >
                 <span style="font-weight:500">{{item.dish}}</span><br/>
                 <span style="margin-top:3px;font-size:12px;">&#8377;{{item.price}}</span>
            </div>
            
            <!-- <button class="btn btn-link" (click)="AddToCart(item)">Add to Cart</button> -->

            <div class="controls">
            
                <button *ngIf="item.qty == 0" 
                    (click)="AddToCart(item)" 
                    class="btn add-button-lg button-lg">
                    Add
                    <i class="fa text-success fa-plus"></i>
                </button>
                <button *ngIf="item.qty > 0" 
                    (click)="incrementItemQuantity(item)" 
                    class="btn add-button"><i class="material-icons">add</i>
                </button>
                <span  *ngIf="item.qty >= 1">{{item.qty}}</span>
                <button *ngIf="item.qty >= 1" (click)="decrementItemFromCart(item)"
                     class="btn reduce-button"><i class="material-icons">remove</i>
                </button>
                <button *ngIf="item.qty == 1" (click)="removeItemFromCart(item)"
                    class="btn reduce-button"><i class="fa fa-times"></i>
                </button>
            </div>
    
        </div>
    </div>

    <div class="col-m ">
       <!-- <app-food-cart></app-food-cart> -->
    </div>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         Pleasen login before adding to the cart.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>