<div class="row">
  <div class="col-md-6">
      <form class="form" [formGroup]="form" (submit)="login()">
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="email" formControlName="Email" name="Email" class="form-control" />
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" formControlName="Password" name="Password" class="form-control" />
        </div>
        <div class="form-group">
           <button class="btn btn-primary" type="submit" name="btnSubmit">Login</button>
          </div>
      </form>
  </div>
  
</div>